.section {
  margin-bottom:2rem;
}

.card-title, .card-subtitle {
  margin-bottom:1rem;
}

.help-text {
  margin-left:.5rem;
}

.profile-row {
  margin-bottom:1rem;
  margin-top:1rem;
}

form {
  border:solid 1px gray;
  padding:.5rem;
  margin-bottom: 1.5rem;
}

.form-check {
  margin-bottom:2rem;
}

.action-icon {
  font-size: 24px;
}

.main-content {
  margin: 1rem;
}
