.page {
  margin-bottom: 0;
}

.section {
  margin-bottom:2rem;
}

.card-title, .card-subtitle {
  margin-bottom:1rem;
}

.help-text {
  margin-left:.5rem;
}

.profile-row {
  margin-bottom:1rem;
  margin-top:1rem;
}

form {
  border:solid 1px gray;
  background-color: seashell;
  padding:.5rem;
  margin-bottom: 1.5rem;
}

.form-check {
  margin-bottom:2rem;
}

.main-content {
  margin: 1rem;
}

button {
  margin-right: 1rem;
}

.desktop {
  background: url("/img/wood-desk-background.jpeg");
}