.storytime-page {
  max-width: 750px;
  margin-top: 25px;
}

/* library styles */
.story-card {
  margin-top: 2em;
}
.byline {
  font-size: smaller;
}
.story-about {
  margin-top: 1em;
}

/* reader styles */
.reader-nav {
  margin-top: 10px;
  max-width: 750px;
}
#scene {
  margin-top: 25px;
  max-width: 750px;
}
#scene .card-footer {
  margin-top: 25px;
}
