.navbar-right {
  margin-right: 0px !important
}
.log {
  margin: 5px 10px 0 0;
}

/* library styles */
.story-card {
  margin-top: 2em;
}
.byline {
  font-size: smaller;
}
.story-about {
  margin-top: 1em;
}

/* reader styles */
.reader-nav {
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 750px;
}
#scene {
  margin-top: 25px;
  max-width: 750px;
}
#scene .card-footer {
  margin-top: 25px;
}

.edit-icon {
  font-size: 24px;
}

.main-content {
  margin: 1rem;
}